<p><%= notice %></p>

<h1 class="font-bold text-4xl mb-12">Rooms</h1>

<%= render partial: "rooms/index/room", collection: @rooms, as: :room %>

<%= link_to "Create a room", new_room_path, class: "mt-4 w-40 auto block bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-3 px-4 rounded-full" %>
